<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.freelancer.syafiqq.courierselection"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/application_icon_launcher"
        android:label="@string/application_name"
        android:roundIcon="@mipmap/application_icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:label">
        <activity
            android:name=".controller.SplashScreen"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".controller.AddAlternative"
            android:label="@string/title_activity_add_alternative"
            android:parentActivityName=".controller.Dashboard"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.freelancer.syafiqq.courierselection.controller.Dashboard"/>
        </activity>
    </application>

</manifest>